{% load static %}
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!--plugins-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'plugins/simplebar/js/simplebar.min.js' %}"></script>
<script src="{% static 'plugins/metismenu/js/metisMenu.min.js' %}"></script>
<script src="{% static 'plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'plugins/chartjs/chart.min.js' %}"></script>
<script src="{% static 'plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'plugins/sparkline-charts/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'plugins/jquery-knob/excanvas.js' %}"></script>
<script src="{% static 'plugins/jquery-knob/jquery.knob.js' %}"></script>
<script>
    $(function () {
        $(".knob").knob();
    });
</script>
<script src="{% static 'js/index.js' %}"></script>
<!--app JS-->
<script src="{% static 'js/app.js' %}"></script>